* {
	padding: 0;
	margin: 0;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.top-header {
		background: linear-gradient(
			to right,
			rgb(23, 21, 21),
			rgb(71, 70, 70),
			rgb(139, 137, 137)
		);
		display: flex;
		color: white;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 1rem;

		.logo {
			display: flex;
			align-items: center;

			img {
				width: 5rem;
				border-radius: 50%;
				object-fit: contain;
			}
		}

		.links {
			display: flex;
			align-items: center;
			gap: 1rem;

			a {
				color: white;
				text-decoration: none;

				&:hover {
					color: aqua;
					text-decoration: underline;
				}
			}

			.search {
				display: flex;
				border-radius: 10px;
				background-color: white;
				padding: 0.2rem;
				color: black;
				width: 20rem;

				input {
					border: none;
					color: black;
					width: 100%;
					outline: none;
					background-color: transparent;
				}
			}
		}

		.logout {
			color: white;
			gap: 1rem;
		}
	}

	.second-header {
		background-color: rgb(20, 14, 14);
		display: flex;
		justify-content: space-between;
		height: 2.5rem;
		color: whitesmoke;
		align-items: center;
		padding: 0 1rem;

		.logo {
			display: flex;
			align-items: center;
			gap: 0.2rem;

			a {
				color: rgb(54, 184, 188);
				text-decoration: none;
			}
		}
	}

	.logout {
		text-align: right;
		color: rgb(54, 184, 188);
		gap: 1rem;
		display: flex;

		a {
			color: rgb(54, 184, 188);
			text-decoration: none;
		}
	}
}

// Media Queries for Responsiveness
@media (max-width: 768px) {
	.top-header {
		.links {
			display: none;
			width: 100%;
			align-items: flex-start;

			.search {
				display: none;
				margin-top: 0.5rem;
			}
		}

		.logout {
			justify-content: center;
			width: 80%;
			margin-top: 0.5rem;

			a {
				padding: 0.2rem;
				button {
					padding: 0.3rem;
					font-weight: bold;
				}
			}
		}
	}

	.second-header {
		display: flex;
		align-items: flex-start;
		height: auto;
		padding: 0.5rem 0;
	}
}

@media (max-width: 480px) {
	.top-header {
		padding: 0.5rem;

		.links {
			display: none;
			gap: 0.5rem;

			a {
				font-size: 0.9rem;
			}
		}

		.logout {
			font-size: 0.9rem;
		}
	}

	.second-header {
		padding: 0.5rem;
	}
}
